body {
  background-color: bisque;
}
.conainter {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}
input {
  margin: 5rem 0;
  padding: 0.8rem;
  width: 400px;
}

li {
  list-style: none;
  display: inline;
  margin: 20px;
}
img{
  border: 2px solid black;
}